<section class="advantages container">
    <h3 class="advantages__title">
        Why Choose BerYoga?
    </h3>
    <span class="advantages__subtitle">
        Access hundreds of online yoga classes shot in natural studios around the world. Unlimited access for $150/Years.
    </span>
    <div class="advantages__items">
        <div class="advantages__item_box">
            <div class="advantages__item_img advantages__item_img--time"></div>
            <h4 class="advantages__item_title">Lifetime Updates</h4>
            <span class="advantages__item_subtitle">
                Free lifetime updates for our lates collection.
            </span>
        </div>
        <div class="advantages__item_box">
            <div class="advantages__item_img advantages__item_img--video"></div>
            <h4 class="advantages__item_title">Anywhere Videos</h4>
            <span class="advantages__item_subtitle">
                Access world-class online yoga videos can be seen on the application & web
            </span>
        </div>
        <div class="advantages__item_box">
            <div class="advantages__item_img advantages__item_img--acces"></div>
            <h4 class="advantages__item_title">Access Unlimited</h4>
            <span class="advantages__item_subtitle">
                Find lots of yoga video tutorials, from all over the world
            </span>
        </div>
    </div>
</section>