<section class="yoga">
    <img src="../img/branch.png" alt="" class="branch-left">
    <img src="../img/blot.png" alt="" class="blot-right">
    <img src="../img/blot-right2.png" alt="" class="blot-right2">
    <img src="../img/branch-right.png" alt="" class="branch-right">
    <img src="../img/blot-left.png" alt="" class="blot-left">
    <div class="container">
        <div class="yoga__item_box">
            <img src="../img/yoga-girl1.png" alt="" class="yoga__item_img">
            <div class="yoga__item_text">
                <h3 class="yoga__item_title">What’s on BerYoga?</h3>
                <div class="yoga__list">
                    <div class="yoga__item_list">
                        <h4 class="yoga__item_list_title">New Classes Every Week</h4>
                        <span class="yoga__item_list_subtitle">
                            Discover hundreds of classes in our library. Save your favorites, try new styles and customize your routine to fit your schedule.
                        </span>
                    </div>
                    <div class="yoga__item_list">
                        <h4 class="yoga__item_list_title">Series</h4>
                        <span class="yoga__item_list_subtitle">
                            Our multi-class series are designed to help you achieve your fitness and wellness goals.
                        </span>
                    </div>
                    <div class="yoga__item_list">
                        <h4 class="yoga__item_list_title">Pose Directory</h4>
                        <span class="yoga__item_list_subtitle">
                            Get step-by-step instructions on poses and sequences in our extensive video pose directory.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="yoga__item_box yoga__item_box--article">
            <div class="yoga__item_article">
                <span class="yoga__item_article-author">By Brittany Risherjan _____</span>
                <h3 class="yoga__item_title yoga__item_title--article">
                    The Healing Power of Trauma-Informed Yoga Classes.
                </h3>
                <span class="yoga__article_text">
                    Celebrating five years of service, the nonprofit Exhale to Inhale brings free, trauma-informed yoga classes to rape crisis centers and domestic violence shelters in Jakarta.~
                </span>
                <a href="#" class="yoga__article_btn">Read More ></a>
            </div>
            <img src="../img/yoga-girl2.png" alt="" class="yoga__item_img">
        </div>
        <div class="yoga__item_box yoga__item_box--ways">
            <img src="../img/yoga-girl3.png" alt="" class="yoga__ways_img">
            <div class="yoga__ways_text">
                <h3 class="yoga__item_title">
                    5 Ways to Make Every Yoga Class More Restorative and Therapeutic
                </h3>
                <p class="yoga__ways_subtitle">
                    In part four of our series on teaching trauma-sensitive yoga, teacher Daniel Sernicola shares five practices to help your students get grounded and cultivate mindfulness.  
                    Teachers, need liability insurance? As a TeachersPlus member, you can access low-cost coverage and more than a dozen valuable benefits that will build your skills and business. Enjoy a free subscription to YJ, a free profile on our national directory, exclusive webinars and content packed with advice, discounts on educational resources and gear, and more
                </p>
                <a href="#" class="yoga__article_btn yoga__article_btn--ways">Read More ></a>
            </div>
        </div>
    </div>
</section>