@font-face {
    font-family: FivoSans-heavy;
    src: url('../../fonts/FivoSans/FivoSans-Heavy.otf')
}

@font-face {
    font-family: FivoSans-bold;
    src: url('../../fonts/FivoSans/FivoSans-Bold.otf')
}

@font-face {
    font-family: FivoSans-regular;
    src: url('../../fonts/FivoSans/FivoSans-Regular.otf')
}

@font-face {
    font-family: FivoSans-light;
    src: url('../../fonts/FivoSans/FivoSans-Light.otf')
}

@font-face {
    font-family: FivoSans-oblique;
    src: url('../../fonts/FivoSans/FivoSans-Oblique.otf')
}